@media (prefers-color-scheme: dark){

    
    :root{
        background-color: #1e1e1e;
        color: #fcfcfc;
    }

    a, .link{
        color: #0065ac;
    }
    .dlevel0{box-shadow: 0px 0.5px 1px 0px #0e0e0e; transition: 200ms;}
    .dlevel0:hover{box-shadow: 0px 1px 2px 0px #0e0e0e; transition: 200ms;}

    .dlevel1{box-shadow: 0px 1px 2px 0px #0e0e0e; transition: 200ms;}
    .dlevel1:hover{box-shadow: 0px 2px 4px 0px #0e0e0e; transition: 200ms;}

    .dlevel2{box-shadow: 0px 2px 4px 0px #0e0e0e; transition: 200ms;}
    .dlevel2:hover{box-shadow: 0px 4px 8px 0px #0e0e0e; transition: 200ms;}

    .dlevel3{box-shadow: 0px 3px 6px 0px #0e0e0e; transition: 200ms;}
    .dlevel3:hover{box-shadow: 0px 6px 12px 0px #0e0e0e; transition: 200ms;}

    .dlevel4{box-shadow: 0px 4px 8px 0px #0e0e0e; transition: 200ms;}
    .dlevel4:hover{box-shadow: 0px 8px 16px 0px #0e0e0e; transition: 200ms;}

    .zi0{box-shadow:  0 0.1px 0.4px 0 #0e0e0e, 0 0.1px 0.3px 0 #000000; transition: 250s ease;}
    .zi1{
        box-shadow:  0 0.4px 1px 0 #0e0e0e, 0 0.3px 1px 0 #000000;
        transition: 250ms ease;
    }
    .zi2{
        box-shadow:  0 2px 4px 0 #0e0e0e, 0 2px 6px 0 #000000;
        transition: 250ms ease;
    }
    .zi3{
        box-shadow:  0 4px 8px 0 #0e0e0e, 0 4px 12px 0 #000000;
        transition: 250ms ease;
    }
    .zi4{
        box-shadow:  0 8px 16px 0 #0e0e0e, 0 8px 24px 0 #000000;
        transition: 250ms ease;
    }
    .zi:hover{box-shadow:  0.4px 0 1px 0 #0e0e0e, 0 0.4px 1.5px 0 #000000; transition: 250ms;}
    .zi1:hover{box-shadow:  1.5px 0 3px 0 #0e0e0e, 0 1.5px 4.5px 0 #000000; transition: 250ms;}
    .zi2:hover{box-shadow:  3px 0 6px 0 #0e0e0e, 0 3px 9px 0 #000000; transition: 250ms;}
    .zi3:hover{box-shadow:  6px 0 12px 0 #0e0e0e, 0 4px 12px 0 #000000; transition: 250ms;}
    .zi4:hover{box-shadow:  12px 0 24px 0 #0e0e0e, 0 6px 18px 0 #000000; transition: 250ms;}


    nav, .modal_container, .sidepanel_container, .overlay, .dialogue_container{
        background-image: 
            radial-gradient(circle at top left, transparent, #1e1e1eaa),
            radial-gradient(circle at bottom left, transparent, #0a0a0aaa)
    ;
    }
    .modal_content, .sidepanel_content, .dialogue_content{
        background: #1e1e1e;
        color: #fcfcfc;
    }
    .modal_pane, .dialogue_pane{
        background: #1e1e1e;
        color: #fcfcfc;
        border-bottom: 1px solid #000000;
    }

    tr:nth-child(odd){background: #0e0e0e;}
    tr:nth-child(even){background: #2e2e2e;}   
    td:hover{transition: 200ms; background: #1e1e1e; color:#fcfcfc}
    input[type=text],input[type=password],input[type=tel],input[type=number],input[type=email],
    input[type=date],input[type=datetime-local],input[type=month], input[type=search], textarea{
        background: #1e1e1e;
        color: #fcfcfc;
    }
    input[type=range]{
        background: #000000;
    }
    input[type=range]:hover{background: #1a1a1a}
    input[type=radio]:checked{background: rgba(0, 0, 0, 0.8); border: 5px solid rgb(255, 236, 128); box-shadow: 0px 0px 2px 2px #06A7DD}    

    .l_item:hover, .o_list .l_item:hover{background: #1e1e1eaa;}
    .l_header{color: #fcfcfc;} 
    .l_header:hover{color: #acacac;}

    .tooltip_info{background-color: #1e1e1e;}


    .transparent{background: transparent; color:#232323;}
    .primary_blue{background: #0065AF; color:#FFF;}
    .primary_green{background: #30db6c; color:#1A1A1A}
    .primary_red{background: #dc2936; color:#1e1e1e;}
    .primary_yellow{background: #e8e800; color:#1A1A1A;}
    .primary_inverted{background: #fcfcfc; color:#1e1e1e;}
    .primary_white{background: #1e1e1e; color: #fcfcfc;}
    .primary_blue_title{background: linear-gradient(to bottom right, #08415CCC , #16B9DDCC 70%); color:#FFF;}
    /*repeating-linear-gradient(45deg, #16B9DD 50px, #0094DD 60px)*/

    .secondary_blue{background: #06A7DD; color:#FFF;}
    .secondary_green{background: #06A77D; color:#FFF;}
    .secondary_red{background: #DE1738; color:#FFF;}
}